{% extends 'status/base.html' %}

{% load static %}

{% block pagehead %}
{% if refresh %}
<meta http-equiv="refresh" content="60">
{% endif %}
{% endblock %}

{% block title %}Status - ECSS Games Server{% endblock %}

{% block content %}
<h1>ECSS Games Server</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Game</th>
      <th scope="col">Host</th>
      <th scope="col">Port</th>
      <th scope="col">Status</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    {% for game_server in game_servers %}
    <tr>
      <th scope="row">{{ game_server.name }}</th>
      <td><!--<a href="{% url 'status:game' game=game_server.game %}">-->{{ game_server.game_name }}<!--</a>--></td>
      <td>{{ game_server.host }}</td>
      <td>{{ game_server.port }}</td>
      <td>{{ game_server.status }}</td>
      <td>
        {% if game_server.details %}
        <ul class="list-unstyled">
          {% for key, value in game_server.details.items %}
          <li><b>{{ key }}</b>: {{ value }}</li>
          {% endfor %}
        </ul>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
